/* index.css */
html, body, #root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  will-change: transform;
  background-color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    #bdbdbd,
    #bdbdbd 0.5px,
    transparent 1px,
    transparent 5px
  );
  transition: background-image 0.3s ease-in-out;
}


body.theme-dark #app-background {
  background-image: repeating-linear-gradient(
    45deg,
    #424242,
    #424242 0.5px,
    transparent 1px,
    transparent 5px
  );
}

#root {
  position: relative;
  z-index: 0;
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.option-icon {
  margin-right: 8px;
  width: 1.1em;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9em;
  color: inherit;
}

.MuiChip-root .option-icon {
   margin-left: -4px;
   margin-right: 4px;
   font-size: 0.8em;
}